.MuiDialog-paper{
  border-radius: 2rem !important;
  padding: 2rem !important;
}

.bodyProdutosDialog{
  width: 63rem;
  height: 49.9125rem;
  background: #FFFFFF;
  box-shadow: 0px .25rem 1rem rgba(50, 50, 50, 0.4);
  border-radius: 1rem;
  box-sizing: border-box;
}

.fotoProdutosEditar{
  position: relative;
  margin-top: 4.6rem;
  width: 24rem;
  height: 24rem;
  transform: translateY(-55px);
}

.acoesProdutos{
  margin-right: 1.5rem;
  margin-top: 1rem;
}

input#valor{
  width: 11rem;
}

.inputFile{
  position: absolute;
  bottom: -1.61rem;
}

input#fileEdit{
  text-decoration: unset;
  all: unset;
  cursor: pointer;
  height: 24rem;
  width: 24rem;
  border-radius: 1rem;
  display: none;
}

.fileEdit{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  cursor: pointer;  
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 0px;
  z-index: 3;
}

.iconeUpload{
  position: absolute;
  top: 11rem;
  left: 11rem;
  z-index: 2;
}

.labelIconeUpload{
  position: absolute;
  top: 15rem;
  left: 6rem;
  z-index: 3;
  width: 12.8125rem;
  height: 2.625rem;
  font-style: normal;
  font-weight: 600;
  font-size: .875rem;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
}

.formProdutos p{
  position: absolute;
  transform: translateY(3.5rem);
}

#btAddProduto{
  transform: translateX(28.125rem);
}

.fotoCarregada{
  height: 24rem;
  width: 24rem;
  z-index: 4;
  border: 2px solid rgba(251, 59, 0, 0.2);
  box-sizing: border-box;
  border-radius: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.25rem;
  height: 1.6875rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
  border: gray 1px solid;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.125rem;
  width: 1.125rem;
  left: .25rem;
  bottom: .25rem;
  background-color: rgb(17, 126, 7);
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #00FF2180;
  border: green 1px solid;

}

input:focus + .slider {
  box-shadow: 0 0 1px #28FF57;
  
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.625rem);
  -ms-transform: translateX(1.625rem);
  transform: translateX(1.625rem);
}

.slider.round {
  border-radius: 2.125rem;
}

.slider.round:before {
  border-radius: 50%;
}