*{
  box-sizing: border-box;
}
.MuiDialog-paper{
  border-radius: 2rem !important;
  padding: 0rem !important;
  width: 625px !important;
}

.bodyDetalheProduto{
  width: 100%;
  height: 820px;
  background: #F9F9F9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 2rem;
  overflow: hidden;
}

.conteinerFotoProduto{
  width: 100%;
  height: 337.16px;
  box-sizing: border-box;
  border-radius: 2rem 2rem 0px 0px;
}

#fotoProduto{
  border-radius: 2rem 2rem 0px 0px;
  border: 2px solid rgba(251, 59, 0, 0.2);
  width: 625px;
  position: absolute;
}

.avatarDetalheRestaurante{
  position: absolute;
  top: 16rem;
  left: 22rem;
   background-position: center;
  background-size: contain;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  box-sizing: border-box;
  border: #ffffff .375rem solid;
  box-shadow: 0 .3125rem 1.5625rem rgb(99, 99, 99);
}

.conteinerdetalhesProduto h1{
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #525459;
}

.conteinerdetalhesProduto span{
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #525459;
}

.conteinerdetalhesProduto p{
  width: 270px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: rgba(34, 34, 34, 0.87);
}

#conteinerPreco{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 48px;
  background: linear-gradient(0deg, rgba(13, 138, 79, 0.1), rgba(13, 138, 79, 0.1)), #FFFFFF;
  border-radius: 4px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #006335;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
}

#relogioIcon{
  width: 25px;
  height: 25px;
}
#moneyIcon{
  width: 25px;
  height: 25px;
}

#minusIcon{
  all: unset;
  width: 40px;
  height: 41px;
  border-radius: 5px 0px 0px 5px;
  background: #D13201;
  fill: #ffffff;
  cursor: pointer;
}

#plusIcon{
  all: unset;
  width: 40px;
  height: 41px;
  background: #D13201;
  border-radius: 0px 5px 5px 0px;
  fill: #ffffff;
  cursor: pointer;
}

#textoQuantidade{
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
  text-align: center;
  margin: 0.7rem 1rem 0.2rem;
}

.boxQuantidade{
  width: 200px
}

#btTransparenteCinza{
  all: unset;
  background: transparent;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  text-decoration-line: underline;
  color: #525459;
  cursor: pointer;
}

#btAddCarrinho{
  transform: translateY(10px);
}
#plus, #minus{
  all: unset;
}
#btDeAbrir{
  transform: translateX(180px);
}