.bodyProdutos{
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    height: fit-content;
  }
  
  .conteinerTopo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 85,125rem;
    height: 15.474rem;
    border-radius: 0px 0px 14.509rem 0px;
  }
  .nomeRestaurante{
    margin-left: 20rem;
    margin-top: 9.188rem;
    color: #ffffff;
  }
  
  .logout{
    margin-top: 7.688rem;
    margin-right: 13.5rem;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size:1rem;
    line-height: 170%;
    z-index: 3;
  }
  
  .avatarRestaurante{
    position: absolute;
    top: 10.125rem;
    left: 7.125rem;
    background-position: center;
    background-size: contain;
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    box-sizing: border-box;
    border: #ffffff .375rem solid;
  }
  
  .avatarRestaurante img{
    width: 100%;
    height: 100%;
  }
  
  span.addProdutos{
    margin-top: 14.125rem;
    font-size: 0.75rem;
    color: var(--cinza);
  }
  
  .vetorProdutos{
    position: absolute;
    width: 72.278rem;
    height: 33.116rem;
    left: 0rem;
    top: -5.529rem;
    z-index: 0;
    display: none;
  }
  
  .addProdutos{
   margin-top: 12rem;
   z-index: 3;
  }
  .contemProdutos{
    z-index: 3;
    height: fit-content;
  }
  button.addProdutos{
    cursor: pointer;
  }
  
  .conteinerCardapio{
    display: grid;
    grid-template-columns: repeat(2, 37.5rem);
    grid-auto-rows: 15rem ;
    gap: 3rem;
    max-width: 80rem;
    height: 18.75rem;
  }
  
  .contemBotao{
    width: 100vh;
    justify-content: flex-end;
    margin-bottom: 6.5625rem;
    z-index: 3;
  }
  
  .none{
    display: none;
  }
  
  .opacity {
    opacity: 0.4;
  }
  
  .flip-card {
    width: 37rem;
    height: 14.89875rem;
    perspective: 1000px; 
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 1.5rem;
    
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background: rgba(255, 255, 255, 0.6);
    transition: backdrop-filter blur(.375rem) transform 0.1s;  
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-back button{
    z-index: 4;
  }