.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow{
  display: flex;
}

.contentCenter{
  justify-content: center;
}

.contentBetween{
  justify-content: space-between;
}

.contentEvenly{
  justify-content: space-evenly;
}

.itemsCenter{
  align-items: center;
}

.itemsStart{
  align-items: flex-start;
}

.itemsEnd{
  align-items: flex-end;
}

.contentStart{
  justify-content: flex-start;
}

.contentEnd{
  justify-content: flex-end;
}

.selfStart{
  align-self: flex-start;
}

.selfEnd{
  align-self: flex-end;
}

.posAbsolut{
  position: absolute;
}

.posRelative{
  position: relative;
}

.gap3rem{
  gap: 3rem;
}

.gap2rem{
  gap: 2rem;
}

.gap1rem{
  gap: 1rem;
}

.gap06rem{
  gap: 0.6rem;
}

.gap03rem{
  gap: 0.3rem;
}
