:root {
  --marron: #AA330F;
  --laranjaEscuro:#D13201;
  --laranja:#FB3B00;
  --bege:#DA803C;
  --branco:#ffffff;
  --cinza:#6F7377;
  --cinzaClaro:#C9CCD1;
  --cinzaMedio:#525459;
  --cinzaEscuro:#393C40;
  --azulEscuro:#045787;
  --verdeClaro:#0D8A4F;
  --verdeEscuro:#006335;
}