input, select{
  border: 1px solid #BEBEBE;
  box-sizing: border-box;
  border-radius: .44657rem;
  Height :2.9375rem;
  Width:25.5rem;
  padding-left: 0.8rem;
}

label{
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  color: var(--cinzaEscuro);
  font-weight: bold;
}

