@import './alignments.css';
@import './buttons.css';
@import './texts.css';
@import './margins.css';
@import './paddings.css';
@import './forms.css';
@import './colors.css';
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Baloo 2','Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  font-size: .875rem;
  color: var(--azulEscuro);
}

h1{
  font-family: 'Baloo 2';
  font-weight: bold;
  font-size: 2rem;
  color: var(--laranjaEscuro);
}

input, textarea{
  margin-bottom: 1.5rem;
  font-family: 'Baloo 2';
  font-size: 1rem;
  font-weight: bold;
  color: var(--cinzaEscuro);
}