.mb03rem{
  margin-bottom: 0.3rem;
}
.mb06rem{
  margin-bottom: 0.6rem;
}
.mb1rem{
  margin-bottom: 1rem;
}
.mb2rem{
  margin-bottom: 2rem;
}
.mb3rem{
  margin-bottom: 3rem;
}
.mt03rem{
  margin-top: 0.3rem;
}
.mt06rem{
  margin-top: 0.6rem;
}
.mt1rem{
  margin-top: 1rem;
}
.mt2rem{
  margin-top: 2rem;
}
.mt3rem{
  margin-top: 3rem;
}
.ml03rem{
  margin-left: 0.3rem;
}
.ml06rem{
  margin-left: 0.6rem;
}
.ml1rem{
  margin-left: 1rem;
}
.ml2rem{
  margin-left: 2rem;
}
.ml3rem{
  margin-left: 3rem;
}
.mr03rem{
  margin-right: 0.3rem;
}
.mr06rem{
  margin-right: 0.6rem;
}
.mr1rem{
  margin-right: 1rem;
}
.mr2rem{
  margin-right: 2rem;
}
.mr3rem{
  margin-right: 3rem;
}
.mx03rem{
  padding: 0px 0.3rem;
}
.mx06rem{
  padding: 0px 0.6rem;
}
.mx1rem{
  padding: 0px 1rem;
}
.mx2rem{
  padding: 0px 2rem;
}

.my03rem{
  padding: 0.3rem 0px;
}
.my06rem{
  padding: 0.6rem 0px;
}
.my1rem{
  padding: 1rem 0px;
}
.my2rem{
  padding: 2rem 0px;
}

.ma03rem{
  padding: 0.3rem;
}
.ma06rem{
  padding: 0.6rem;
}
.ma1rem{
  padding: 1rem;
}
.ma2rem{
  padding: 2rem;
}