.pb03rem{
  padding-bottom: 0.3rem;
}
.pb06rem{
  padding-bottom: 0.6rem;
}
.pb1rem{
  padding-bottom: 1rem;
}
.pb2rem{
  padding-bottom: 2rem;
}

.pt03rem{
  padding-top: 0.3rem;
}
.pt06rem{
  padding-top: 0.6rem;
}
.pt1rem{
  padding-top: 1rem;
}
.pt2rem{
  padding-top: 2rem;
}

.pl03rem{
  padding-left: 0.3rem;
}
.pl06rem{
  padding-left: 0.6rem;
}
.pl1rem{
  padding-left: 1rem;
}
.pl2rem{
  padding-left: 2rem;
}

.pr03rem{
  padding-right: 0.3rem;
}
.pr06rem{
  padding-right: 0.6rem;
}
.pr1rem{
  padding-right: 1rem;
}
.pr2rem{
  padding-right: 2rem;
}

.px03rem{
  padding: 0px 0.3rem;
}
.px06rem{
  padding: 0px 0.6rem;
}
.px1rem{
  padding: 0px 1rem;
}
.px2rem{
  padding: 0px 2rem;
}
.px3rem{
  padding: 0px 3rem;
}
.py03rem{
  padding: 0.3rem 0px;
}
.py06rem{
  padding: 0.6rem 0px;
}
.py1rem{
  padding: 1rem 0px;
}
.py2rem{
  padding: 2rem 0px;
}

.pa03rem{
  padding: 0.3rem;
}
.pa06rem{
  padding: 0.6rem;
}
.pa1rem{
  padding: 1rem;
}
.pa2rem{
  padding: 2rem;
}