.card{
  width: 37rem;
  height: 14.89875rem;
  background: #FFFFFF;
  box-shadow: 0px .25rem .375rem rgba(50, 50, 50, 0.84);
  border-radius: 1.5rem;
}

.cardConteudo{
  width: 19.875rem;
}

.imgCard{
  width: 174px;
  height: 174px;
  border: 2px solid rgba(251, 59, 0, 0.2);
  box-sizing: border-box;
  border-radius: 16px;
}

.card h1{
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 150%;
  color: #525459;
}

.card p{
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 170%;
  color: rgba(34, 34, 34, 0.87);
}

.valorBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .25rem;
  width: 4.875rem;
  height: 1.125rem;
  background: linear-gradient(0deg, rgba(13, 138, 79, 0.1), rgba(13, 138, 79, 0.1)), #FFFFFF;
  border-radius: .25rem;
}

.valorBox span{
  color: #006335;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.buttomModal{
  all:unset;
  width: 37rem;
  height: 14.89875rem;
  border-radius: 1.5rem;
}